@import "tailwindcss";

.pill {
    background-color: grey;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
    padding-inline: 5px;
    margin: 5px 2px;
}
.flexRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}